.content-section {
    margin: 1em;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}
.section-header {
    font-weight: normal;
    color: var(--font-color);
    text-align: center;
    font-size: 2.5em;
}

.tur-img {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-primary {
    color: var(--color-primary);
    background-color: var(--font-color);
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(187 187 187);
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 42%;
}

.tour-arena {
    width: 24%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.shop-item-title {
    display: block;
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--font-color);
    margin-bottom: 15px;
}

.shop-item-image {
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: var(--font-color);
    font-size: 2em;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: var(--font-color);
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    flex-direction: row;
}

.cart-item {
    width: 100%;
}

.cart-price {
    width: 30%;
    font-size: 1.2em;
    color: var(--font-color);
}

.cart-quantity {text-align: end;}

.cart-item-title {
    color: var(--font-color);
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.btn-all {
    color: white;
    background-color: #EB5757;
    border: none;
    font-weight: bold;
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-all:hover {
    background-color: #CC4C4C;
}

.btn-cont{
    display: flex;
    flex-direction: row;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: var(--font-color);
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}