.cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    border-bottom: 1px solid #ffffff;
    background-clip: padding-box;
    cursor: pointer;
}

.table-elipse {
    cursor: pointer;
}

#tour1 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.row-child {
    background-color: var(--font-color);
    color: var(--color-primary);
}

.cell-1 .row-child .show td{
    color:var(--color-primary);
}