@font-face {
	font-family: 'themify';
	src:url('../fonts/themify.eot?-fvbane');
	src:url('../fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/themify.woff?-fvbane') format('woff'),
		url('../fonts/themify.ttf?-fvbane') format('truetype'),
		url('../fonts/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	/* speak: none; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ti-user:before {
	content: "\e602";
}

.ti-target:before {
	content: "\e607";
}
.ti-tag:before {
	content: "\e608";
}

.ti-search:before {
	content: "\e610";
}

.ti-plus:before {
	content: "\e61a";
}

.ti-arrow-right:before {
	content: "\e628";
}
.ti-arrow-left:before {
	content: "\e629";
}
.ti-arrow-down:before {
	content: "\e62a";
}

.ti-link:before {
	content: "\e62d";
}

.ti-image:before {
	content: "\e633";
}
.ti-heart:before {
	content: "\e634";
}

.ti-comments:before {
	content: "\e643";
}
.ti-comment:before {
	content: "\e644";
}
.ti-comment-alt:before {
	content: "\e645";
}

.ti-angle-right:before {
	content: "\e649";
}
.ti-angle-left:before {
	content: "\e64a";
}
.ti-angle-down:before {
	content: "\e64b";
}
.ti-check:before {
	content: "\e64c";
}

.ti-arrow-top-right:before {
	content: "\e65a";
}
.ti-arrow-top-left:before {
	content: "\e65b";
}

.ti-uppercase:before {
	content: "\e66a";
}

.ti-thumb-down:before {
	content: "\e671";
}
.ti-text:before {
	content: "\e672";
}

.ti-quote-right:before {
	content: "\e67e";
}
.ti-quote-left:before {
	content: "\e67f";
}

.ti-money:before {
	content: "\e68c";
}

.ti-menu:before {
	content: "\e68e";
}
.ti-menu-alt:before {
	content: "\e68f";
}

.ti-list:before {
	content: "\e694";
}

.ti-info:before {
	content: "\e697";
}

.ti-home:before {
	content: "\e69b";
}

.ti-control-play:before {
	content: "\e6ad";
}

.ti-back-right:before {
	content: "\e6bc";
}
.ti-back-left:before {
	content: "\e6bd";
}

.ti-align-right:before {
	content: "\e6c1";
}
.ti-align-left:before {
	content: "\e6c2";
}
.ti-align-justify:before {
	content: "\e6c3";
}
.ti-align-center:before {
	content: "\e6c4";
}

.ti-write:before {
	content: "\e6c8";
}

.ti-themify-logo:before {
	content: "\e6d1";
}
.ti-themify-favicon:before {
	content: "\e6d2";
}
.ti-themify-favicon-alt:before {
	content: "\e6d3";
}
.ti-support:before {
	content: "\e6d4";
}

.ti-info-alt:before {
	content: "\e717";
}

.ti-youtube:before {
	content: "\e728";
}

.ti-twitter:before {
	content: "\e72a";
}

.ti-instagram:before {
	content: "\e73d";
}
.ti-google:before {
	content: "\e73e";
}

.ti-facebook:before {
	content: "\e741";
}

.ti-dribbble:before {
	content: "\e743";
}

.ti-twitter-alt:before {
	content: "\e74b";
}

.ti-email:before {
	content: "\e75a";
}

